@{
    ViewData["Title"] = "Roles";
}

    <div class="text-center">
        <h1 class="display-4">Role assigning</h1>
    </div>
   
    <div>
        <p>Search for a user:</p>
        <input />
        <input type="submit" value="Search" />
    </div>

