@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Roles";
}

    <div class="text-center">
        <h1 class="display-4">Role assigning</h1>
    </div>
   
    <div>
        <p>List of existing Roles:</p>
    </div>

    <div>
        @if (Model.Any())
        {
            <ul>
                @foreach (var role in Model)
                {
                    if(role.Name == "developer")
                    {
                        continue;
                    }
                    <li>
                        <a asp-controller="Administration" asp-action="Role" asp-route-id="@role.Id">@role.Name</a>
                        
                    </li>
                }
            </ul>
        }
        else
        {
            <p>No roles created</p>
        }
    </div>




