@model IEnumerable<Project>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div>
    <ul>
        @foreach (var project in Model)
        {
            if (project.UserId == ViewBag.user)
            {

                <li>
                    <a asp-controller="Home" asp-action="Project" asp-route-id="@project.Id">
                        @project.Title
                    </a>
                </li>
            }
        }

    </ul>
</div>