@model EditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<div>
    <form asp-controller="Home" asp-action="Edit" method="post">

        @if (Model.IsinRole)
        {
            <input asp-for="UserProject.Featured" class="form-check-input" />
            <label class="form-check-label" asp-for="UserProject.Featured">
                Featured
            </label>
        }
        else
        {
            <input asp-for="UserProject.Featured" type="hidden" />
        }
        <input asp-for="UserProject.Id" type="hidden" />
        <input asp-for="UserProject.UserId" type="hidden" />

        <table>
            <tr>
                <td>
                    <label>Title</label>
                </td>
                <td>
                    <input asp-for="UserProject.Title" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Short description</label>
                </td>
                <td>
                    <input asp-for="UserProject.ShortDescription" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Body</label>
                </td>
                <td>
                    <input asp-for="UserProject.Body" />
                </td>
            </tr>
        </table>
        
        @*
            
        <div>
            <label>Title</label>
            <input asp-for="UserProject.Title" />
        </div>

        <div>
            <label>Short description</label>
            <input asp-for="UserProject.ShortDescription" />
        </div>

        <div>
            <label>Body</label>
            <input asp-for="UserProject.Body" />
        </div>
        *@



        <input type="submit" value="Submit" />
    </form>
</div>