@model EditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<div>
    <form asp-controller="Home" asp-action="Edit" method="post" enctype="multipart/form-data">

        @if (Model.IsinRole)
        {
            <input asp-for="UserProject.Featured" class="form-check-input" />
            <label class="form-check-label" asp-for="UserProject.Featured">
                Featured
            </label>
        }
        else
        {
            <input asp-for="UserProject.Featured" type="hidden" />
        }
        <input asp-for="UserProject.Id" type="hidden" />
        <input asp-for="UserProject.UserId" type="hidden" />

        <table>
            <tr>
                <td>
                    <label>Title</label>
                </td>
                <td>
                    <input asp-for="UserProject.Title" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Short description</label>
                </td>
                <td>
                    <input asp-for="UserProject.ShortDescription" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Body</label>
                </td>
                <td>
                    <input asp-for="UserProject.Body" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Upload image</label>
                </td>
                <td>
                    <input asp-for="UserProject.ImageFile" type="file" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>How much do you need</label>
                </td>
                <td>
                    <input asp-for="UserProject.Needed" />
                </td>
            </tr>
        </table>
        <div>
            <input asp-for="UserProject.AlreadyFunded" type="hidden" />
            <input asp-for="UserProject.ImageStorageName" type="hidden" />
            <input asp-for="UserProject.ImageUrl" type="hidden" />
        </div>
        
        <input class="m-3" type="submit" value="Submit" />
    </form>
</div>