@model IEnumerable<Project>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to GiveMe</h1>
    <p>A place where you can get money for your ideas!</p>
</div>
<div>
    <h2>
        Projects we like:
    </h2>
</div>
<div>
 
    @foreach(var project in Model)
    {
        if (project.Featured)
        {
            <div>
                <p>
                    @project.Title
                </p>
                <p>
                    @project.ShortDescription
                </p>
            </div>
        }
    }
</div>
