@model IEnumerable<Project>

@{
    ViewData["Title"] = "Projects";
}

    <h1>Projects</h1>

<div>
    <ul>
        @foreach(var project in Model)
        {
            <li>
                <a asp-controller="Home" asp-action="Project" asp-route-id="@project.Id">
                    @project.Title
                </a>
            </li>

        }
        
    </ul>
</div>