@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
@{
    ViewData["Title"] = "UserPage";
}

<h1>User list</h1>
<div>
    <ul>
        @foreach (var user in Model)
        {
            <li>
                
                    @user.UserName
                
            </li>
        }

    </ul>
</div>

